<!--评论列表-->
<div class="appraiseBox">
  <div class="userPhoto"><img src="" alt=""/></div>
  <div class="userApprai">
    <dl class="appodl">
      <dt>用户昵称 <span>2017-01-20</span></dt>
      <dd>活动质量：
        <div class="starBox">
          <i class="iconfont icon-xingjixuanzhonghou"></i>
          <i class="iconfont icon-xingjixuanzhonghou"></i>
          <i class="iconfont icon-xingjixuanzhonghou"></i>
        </div>
      </dd>
      <dd>场地设施：
        <div class="starBox">
          <i class="iconfont icon-xingjixuanzhonghou"></i>
          <i class="iconfont icon-xingjixuanzhonghou"></i>
        </div>
      </dd>
      <dd>人员服务：
        <div class="starBox">
          <i class="iconfont icon-xingjixuanzhonghou"></i>
          <i class="iconfont icon-xingjixuanzhonghou"></i>
          <i class="iconfont icon-xingjixuanzhonghou"></i>
        </div>
      </dd>
    </dl>
    <p class="oappCon">评论详细内容评论详细内容评论详细内容评论详细内容评论详细内容评论详细内容</p>
    <div class="oappImg">
      <img src="http://placehold.it/290x290" alt=""/>
      <img src="http://placehold.it/290x290" alt=""/>
      <img src="http://placehold.it/290x290" alt=""/>
    </div>
  </div>
</div>

